<ion-view title="Challenges" id="page5">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
        </form>
        <div class="list card">
            <div class="item item-divider">Athina Spanou</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Lamprini Koutsokera</div>
            <div class="item item-body"></div>
        </div>
        <div class="spacer" style="width: 283px; height: 122px;"></div>
        <a ui-sref="makeTheMonkeyJump" id="challenges-button1" class="button button-positive  button-block">Challenge Your Friend!</a>
    </ion-content>
</ion-view>