<ion-view title="Make the monkey jump" hide-back-button="true" id="page6">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <button id="makeTheMonkeyJump-button6" class="button button-positive  button-block">timer</button>
            <button id="makeTheMonkeyJump-button8" class="button button-positive  button-block">score</button>
        </div>
        <div class="spacer" style="width: 283px; height: 36px;"></div>
        <div class="button-bar"></div>
        <div>
            <img src="img/ah0mWKQy2V38Wb87DA6r_pTqKnRpgc.gif" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>